<%- include("../partials/header.ejs") %>


    <header>
        <title>
            <%=data.product%>
        </title>
        <link rel="stylesheet" href="/stylesheets/template.css">
    </header>
    <body>
        <div class="banner">
            <h1><%=data.product%></h1>
        </div>
        <div class="container">
            <div class = "page_body">
            <div class ="row">
                <div class="col-md-6">
                    <div class="headline">
                        <h3> Advanced Print Solutions guarantees 100% satisfaction for all our products and services!</h3>
                    </div>
                <div class="description">
                    <p>
                        If you are looking for high quality branded infographics to help tell a certain story or need graphic design services, let us be your guide.
                        Our knowledgeable staff will help you create custom infographics that will match your profile and enhance your brand identity while sending the right message to your customers. 
                    </p>
                    <p id="tag"><%=tag.tagLine%></p>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img id="image" src=<%= data.image%>>
                    </div>
                     <div class="order-button" href = "/contact">
                        <a class="button"  href = "/contact"> GET A QUOTE NOW!</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
   </body>
</html>

<%- include("../partials/footer.ejs") %>