<%- include("../partials/header.ejs") %>


    <header>
        <title>
            <%=data.product%>
        </title>
        <link rel="stylesheet" href="/stylesheets/template.css">
    </header>
    <body>
        <div class="banner">
            <h1><%=data.product%></h1>
        </div>
        <div class="container">
            <div class = "page_body">
            <div class ="row">
                <div class="col-md-6">
                <div class="headline">
                    <h3> Advanced Print Solutions guarantees 100% satisfaction for all our products and services!</h3>
                </div>
                <div class="description">
                    <p>Having a company party or a wedding? Wan't to make the event extra special by giving everyone a custom gift?</p>
                    <p>We can create the perfect gift for any occasion!</p>
                    <ul>
                        <li> Coozies</li>
                        <li> Bar Glass</li>
                        <li> Can Openers</li>
                        <li> Key Chains</li>
                        <li> And Much, Much, More!</li>
                    </ul>
    
                    <p id="tag"><%=tag.tagLine%></p>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img id="image" src=<%= data.image%>>
                    </div>
                     <div class="order-button" href = "/contact">
                        <a class="button"  href = "/contact"> GET A QUOTE NOW!</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
   </body>
</html>

<%- include("../partials/footer.ejs") %>