<%- include("../partials/header.ejs") %>


    <header>
        <title>
            <%=data.product%>
        </title>
        <link rel="stylesheet" href="/stylesheets/template.css">
    </header>
    <body>
        <div class="banner">
            <h1><%=data.product%></h1>
        </div>
        <div class="container">
            <div class = "page_body">
            <div class ="row">
                <div class="col-md-6">
                <div class="description">
                <div class="headline">
                    <h3> Advanced Print Solutions guarantees 100% satisfaction for all our products and services!</h3>
                </div>
                    <p> 
                       Make the bag you carry around stand out in the sea of plain Jansport backpacks at school!
                       Make specially printed gym bags for your team to carry their gear around, or have special eco-friendly tote bags printed for your company. 
                    </p>
                    <p>We can make any type of carry bag</p>
                    <ul>
                        <li>Backpacks</li>
                        <li>Tote Bags</li>
                        <li>Drawstring bags</li>
                        <li>Gym Bags</li>
                        <li>Computer Carry Cases</li>
                        <li>And Much, Much more!</li>
                    </ul>
                    <p id="tag"><%=tag.tagLine%></p>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img id="image" src=<%= data.image%>>
                    </div>
                     <div class="order-button" href = "/contact">
                        <a class="button"  href = "/contact"> GET A QUOTE NOW!</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
   </body>
</html>

<%- include("../partials/footer.ejs") %>