<%- include("../partials/header.ejs") %>


    <header>
        <title>
            <%=data.product%>
        </title>
        <link rel="stylesheet" href="/stylesheets/template.css">
    </header>
    <body>
        <div class="banner">
            <h1><%=data.product%></h1>
        </div>
        <div class="container">
            <div class = "page_body">
            <div class ="row">
                <div class="col-md-6">
                    <div class="headline">
                        <h3> Advanced Print Solutions guarantees 100% satisfaction for all our products and services!</h3>
                    </div>
                    <div class="description">
                    
                        <p>Calendars are an excellent way to promote your company!
                        Your company can give them out to other companies you do business with.
                        They will appreciate the gift and have your name in front of them every day!
                        </p>
                        <p>
                        We can make any size and design calender your heart desires.
                        From small desk calenders to large wall calendars, we'ce got you covered!
                        </p>
                        <p id="tag"><%=tag.tagLine%></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img id="image" src=<%= data.image%>>
                    </div>
                     <div class="order-button" href = "/contact">
                        <a class="button"  href = "/contact"> GET A QUOTE NOW!</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
   </body>
</html>

<%- include("../partials/footer.ejs") %>