<%- include("../partials/header.ejs") %>


    <header>
        <title>
            <%=data.product%>
        </title>
        <link rel="stylesheet" href="/stylesheets/template.css">
    </header>
    <body>
        <div class="banner">
            <h1><%=data.product%></h1>
        </div>
        <div class="container">
            <div class = "page_body">
            <div class ="row">
                <div class="col-md-6">
                    <div class="headline">
                        <h3> Advanced Print Solutions guarantees 100% satisfaction for all our products and services!</h3>
                    </div>
                <div class="description">
                   <p>We can print your company logo on any office-supply product you can think of!</p>
                   <p>Products such as:</p>
                   <ul>
                       <li>Pens</li>
                       <li>Notebooks</li>
                       <li>Post-it Notes</li>
                       <li>Note Pads</li>
                       <li>Mouse Pads</li>
                       <li>Business Card Holders</li>
                       <li>And much, much more!</li>
                   </ul>
                   <p id="tag"><%=tag.tagLine%></p>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img id="image" src=<%= data.image%>>
                    </div>
                     <div class="order-button" href = "/contact">
                        <a class="button"  href = "/contact"> GET A QUOTE NOW!</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
   </body>
</html>

<%- include("../partials/footer.ejs") %>