<%- include("../partials/header.ejs") %>


    <header>
        <title>
            <%=data.product%>
        </title>
        <link rel="stylesheet" href="/stylesheets/template.css">
    </header>
    <body>
        <div class="banner">
            <h1><%=data.product%></h1>
        </div>
        <div class="container">
            <div class = "page_body">
            <div class ="row">
                <div class="col-md-6">
                    <div class="headline">
                        <h3> Advanced Print Solutions guarantees 100% satisfaction for all our products and services!</h3>
                    </div>
                <div class="description">
                    <p>USB-flashdrives are a great item to give out to employees or customers to show your appreciation for them!</p>
                    <p>Flashdrives are relatively inexpensive and are very useful tools.
                      Your customer or workers will thank you!</p>
                    <p id="tag"><%=tag.tagLine%></p>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img id="image" src=<%= data.image%>>
                    </div>
                     <div class="order-button" href = "/contact">
                        <a class="button"  href = "/contact"> GET A QUOTE NOW!</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
   </body>
</html>

<%- include("../partials/footer.ejs") %>